<div class="row">
  <br />
</div>

<h2 class="text-center">Achievements</h2>
<hr />
<div class="well well-lg" ng-repeat="extracurricular in achievementsCtrl.extracurriculars">
  <h4 style="margin-bottom: 0;">{{extracurricular.title}}</h4>
  <p style="margin-bottom: 0;">{{extracurricular.organization}}</p>
  <p style="margin-bottom: 0;">{{extracurricular.location}}</p>
  <p><em>{{extracurricular.date}}</em></p>
  <br />
  <ul>
    <li ng-repeat="point in extracurricular.description">
      {{point}}
    </li>
  </ul>
</div>

<div class="row">
  <br />
</div>
