<h3>Employment History</h3>
<hr />
<div class="well well-lg" ng-repeat="position in historyCtrl.employmentHistory">
  <h4>{{position.title}}</h4>
  <p>{{position.organization}}</p>
  <p>{{position.timeframe}}</p>
  <br />
  <ul>
    <li ng-repeat="point in position.description">
      {{point}}
    </li>
  </ul>
</div>

<div class="row">
  <br />
</div>

<h3>Volunteering History</h3>
<hr />
<div class="well well-lg" ng-repeat="position in historyCtrl.voluteeringHistory">
  <h4>{{position.title}}</h4>
  <p>{{position.organization}}</p>
  <p>{{position.timeframe}}</p>
  <br />
  <ul>
    <li ng-repeat="point in position.description">
      {{point}}
    </li>
  </ul>
</div>
