<div class="row">
  <h1 class="text-center">Welcome to my website.</h2>
</div>

<div class="row text-center">
  <p class="lead">I'm Archit Mahto. I am a full-stack developer.</p>
</div>

<h5 class="text-center">Feel free to reach me via any of the options below</h5>
<ul class="social-media" >
  <li class="hvr-grow hvr-glow" ng-repeat="site in homeCtrl.socialMedisSites">
    <a href={{site.link}} target="_blank">
      <span class="fa-stack fa-2x">
        <i class={{site.stackClass}} ng-style="{'color' : site.stackColor}"></i>
        <i class={{site.iconClass}} ng-style="{'color' : site.iconColor}"></i>
      </span>
    </a>
  </li>
</ul>

<div class="row">
  <br />
</div>

<blockquote>
  <h4>"Your work is going to fill a large part of your life, and the only way to be truly satisfied is to do what you believe is great work. And the only way to do great work is to love what you do. If you haven’t found it yet, keep looking. Don’t settle. As with all matters of the heart, you’ll know when you find it."
  </h4>
  <footer>
    <cite title="Steve Jobs" style="color: #FAFAFA">Steve Jobs</cite>
  </footer>
</blockquote>

<div class="row">
  <br />
</div>
