<h2 class="text-center">Projects</h2>
<hr />

<div class="well well-lg" ng-repeat="project in projectsCtrl.projects">
  <h3>
    {{project.title}}
    &nbsp;
    <small ng-show="project.showLink">
      <a href={{project.link}} class="hvr-grow" target="_blank">
        <i class="fa fa-link"></i>
      </a>
      <p style="display: inline">GitHub</p>
      &nbsp;&nbsp;&nbsp;
      <a href={{project.projectLink}} ng-show="project.showProjectLink" class="hvr-grow-rotate" target="_blank">
        <i class="fa fa-external-link"></i>
      </a>
      <p style="display: inline" ng-show="project.showProjectLink" >Project Page</p>
    </small>
  </h3>
  <br />
  <p>
    Tech Used:
    <ul class="tech">
      <li class="hvr-rectangle-out hvr-grow" ng-repeat="tech in project.techs">
        <strong>{{tech}}</strong>
      </li>
    </ul>
  </p>
  <br />
  <div class="well-paragraph" ng-repeat="paragraph in project.description">
    <p ng-bind-html="paragraph"></p>
  </div>
</div>
