<div class="row">
  <br />
</div>

<h2 class="text-center">Projects</h2>
<hr />

<div class="well well-lg" ng-repeat="project in projectsCtrl.projects">
  <h3>
    {{project.title}}
    <small ng-show="project.showLink">
      <a href={{project.link}} target="_blank">
        <i class="fa fa-link"></i>
      </a>
      GitHub
    </small>
  </h3>
  <br />
  <p>
    Tech Used:
    <ul class="tech">
      <li ng-repeat="tech in project.techs">
        <strong>{{tech}}</strong>
      </li>
    </ul>
  </p>
  <br />
  <div class="well-paragraph" ng-repeat="paragraph in project.description">
    <p ng-bind-html="paragraph"></p>
  </div>
</div>

<div class="row">
  <br />
</div>
